nav{
    height: 42px;
    border-bottom: 1px solid #e2e2e2;
}
.nav {
  float: left;
  padding: auto;
}
.bar {
    position: relative;
    padding: 0 10px;
    width: 95px;
    height: 42px;
}

.button1, .button2 {
    display: inline-block;
    margin: 10px;
}
button{
    border: 0;
}
.section{
    font-family: 'helvetica', sans-serif;
}
.fa {
    font-size: 15px;
    margin: 7px;
}
hr{
    display: block;
}

