.navi{
    width: 100%;
    height: 43px;
    border-bottom: 2px solid red;
    text-align: center;
}
.nav {
  float: left;
}
.bar {
    position: relative;
    padding: 0 10px;
    width: 120px;
    height: 42px;
}

.button1, .button2 {
    display: inline-block;
    margin: 10px;
}
.button2{
    clear: left;
}
.fa {
    width: 20px;
    height: 20px;
}
/*.title{
    margin-right: 50%;
    margin-left: 50%;
}*/
.SVG{
    display: inline-block;
    width: 185px;
    height: 25px;
    margin-right: 50%;
    margin-left: 50%;
}
.bar2{
    display: block;
    float: left;
}